<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
    
    <title>keepyoustupid.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="http://cdn.jsdelivr.net/g/jquery@1.11.0"></script>
    <script src="http://fb.me/react-0.10.0.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab|Bevan' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="css/core.css">
    
    </head>
    
    <body>
        <div class="container app">
            <div data-reactid=".0">
                <div class="row header" data-reactid=".0.0">
                    <div class="col-md-5" data-reactid=".0.0.0">
                        <h1 class="mainLogo" data-reactid=".0.0.0.0">NEWSWATCH</h1>
                        <p class="subline" data-reactid=".0.0.0.1">An analysis of their analysis</p>
                    </div>
                    <div class="col-md-7 links" data-reactid=".0.0.1">
                        <a data-reactid=".0.0.1.0">about</a>
                        <a data-reactid=".0.0.1.1">contact</a>
                    </div>
                </div>
                <div data-reactid=".0.1"><div class="row stage newSourceTitle" data-reactid=".0.1.0">
                    <h2 data-reactid=".0.1.0.0">About NewsWatch</h2>
                </div>
                <div class="headlineAnalysis row" data-reactid=".0.1.1">
                    <p>Do you ever have the feeling the news is designed to keep you stupid?</p>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>