<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
    
    <title>keepyoustupid.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="http://cdn.jsdelivr.net/g/jquery@1.11.0"></script>
    <script src="http://fb.me/react-0.10.0.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
    <script src="js/Chart.min.js"></script>
    <script data-main="js/app" src="js/require.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab|Bevan' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="css/core.css">
    
    </head>
    
    <body>
        <div class="container app">
        </div>
    </body>
</html>